.payment {
    margin-top: 1rem;
    margin-left: 2px;
    color: #eee;
    background: #1f9e98;
    padding: 0.35rem 0.85rem;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    letter-spacing: 0.1rem;
    font-size: 1.1rem !important;

}

.payment:hover {
    outline: none;
}

.paymentForm {
    max-width: 400px;
    margin: 0 auto;
}

.tshirt {
    max-width: 100%;
}

.header {
    color: #006699;
    font-weight: bold;
    font-size: 2rem !important;
}